<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardinfolink.wxpay">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="com.cardinfolink.wxpay.wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:targetActivity="com.cardinfolink.wxpay.wxapi.WXPayEntryActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
